<!DOCTYPE HTML>
<html>
<head>
    <title>Welcome to TrueChat, can I take your order?</title>
    <script
       src="https://code.jquery.com/jquery-2.2.4.min.js"
       integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
       crossorigin="anonymous">
    </script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript" charset="utf-8">

      var nameChangeHandler;
      var unreadMessages = 0;

      $(document).ready(function() {

          var isSafari = Object.prototype.toString.call(window.HTMLElement).indexOf('Constructor') > 0 || (function (p) { return p.toString() === "[object SafariRemoteNotification]"; })(!window['safari'] || safari.pushNotification);
          if(isSafari) {
             alert("This doesn't seem to work in safari, sorry / not sorry.");
          }


          var getActiveRoomName = function() {
              return $('div#chat_panes_container div.active').attr('id');
          };

          var getATagForRoomName = function(room_name) {
              return $('a.room_tab[href$="' + room_name + '"]');
          };

          $(window).on('focus', function() {
               unreadMessages = 0;
               document.title = 'TrueChat';

               getATagForRoomName(getActiveRoomName()).removeClass('unread_messages');
          });

          // single namespace for now
          var namespace = '/trd';
          var my_id;
          my_id = {{ client_id }};
          var socket = io.connect('http://' + document.domain + ':' + location.port + namespace);

          socket.on('connect', function() {
              socket.emit('trd_connect_event', {client_id: my_id});
          });

          window.onbeforeunload = function() {
              socket.emit('trd_disconnect_event', {client_id: my_id})
              socket.onclose = function () {}; // not sure why we have to disable the socket's close behavior?
              socket.close();
          };

         //////// incoming messages
          var dateFormatter = new Intl.DateTimeFormat("en-US",
           {month: "short",
            day: "2-digit",
            hour: "numeric",
            minute: "numeric" });

          socket.on('chat_message', function(msg) {
              var element = $('#' + msg['room'] + '_chat_window');
              element.append('<br> <span class=\"timestamp\">' +
                dateFormatter.format(new Date(msg['timestamp'])) +
                '</span>&nbsp;<span class=\"name\">' + msg.sender + '</span>: ' + msg.msg );
              element.animate({scrollTop: element[0].scrollHeight}, 500);

              if(!document.hasFocus()) {
                 unreadMessages += 1;
                 document.title = '!';
                 setTimeout(function(){ document.title = '('+unreadMessages+') TrueChat'; }, 600);
              }

              if(msg['room'] != getActiveRoomName()){
                getATagForRoomName(msg['room']).addClass('unread_messages');
              }
          });

          socket.on('names_message', function(msg) {
              for(var room in msg) {
                  if(!msg.hasOwnProperty(room)) continue;

                  var element = $('div#'+room+'_user_list');
                  if(element.length == 0) continue;

                  element.empty();
                  for(client_id in msg[room]) {
                      element.append('<br><span class=\"name\">' + msg[room][client_id]['name'] + '</span>');
                  }
                 element.animate({scrollTop: element[0].scrollHeight}, 500);
             }
          });

          socket.on('trd_ping', function(msg, callback){
              callback({client_id: my_id});
          });

          var registerCloseEvent = function() {
              $(".closeTab").click(function() {
                  var tabContentId = $(this).parent().attr("href");
                  socket.emit('trd_leave_room_event',
                      {room: tabContentId.substring(1),
                      client_id: my_id});
                  $(this).parent().parent().remove(); // remove li of tab
                  $(tabContentId).remove(); // remove the tab content
                  getATagForRoomName("main").click();
              });
          }

          var join_new_room = function(room_name) {
              if(getATagForRoomName(room_name).length == 0) {
                  // add a tab for the room
                  var tab_item = '<li><a href="#' + room_name + '" class="room_tab" data-toggle="tab">' + room_name;
                  if(room_name != "main") {
                      tab_item += '&nbsp;<button class="close closeTab" type="button">x</button>&nbsp;';
                  }
                  tab_item += '</a></li>';
                  $('ul.nav-tabs').append(tab_item);


                  // add the html for the chat room..
                  var panes_element = $('#chat_panes_container');
                  panes_element.append(
                  '<div id="' + room_name + '" class="tab-pane fade"><div class="flex_parent">' +
                  '<div id="ui_container"><div class="room_top_label">' + room_name + '</div>' +
                  '<div id="' + room_name + '_chat_window" class="vertical_scroller chat_window">' +
                  '<i>Willkommen zu </i>'+ room_name+'</div></div>' +// <!-- /ui_container -->
                  '<div id="user_list_container">' +
                  '<div id="' + room_name + '_user_list" class="vertical_scroller user_list">' +
                  '</div></div></div></div>');
              } // end if getATagForRoomName().length == 0

              // join the room
               socket.emit('trd_join_room_event', {client_id: my_id, room: room_name});
              var room_tab = getATagForRoomName(room_name);
              room_tab.click();

              // seems like the active class should be done automagically by the click() fn bt it isnt.
              room_tab.parents('li').addClass('active');
              $('.nav-tabs a.dropdown-toggle').parents('li').removeClass('active');

              $(document).on('shown.bs.tab', 'a[data-toggle="tab"]', function (e) {
                  $(e.target).removeClass('unread_messages');
               });

               registerCloseEvent();

              var chat_window = $('#'+room_name+'_chat_window');
              chat_window.animate({scrollTop: chat_window[0].scrollHeight}, 500);
          };

          var bind_room_menu_clicks = function() {
              $('a.room_menu_item').click(function(e) {
                  e.preventDefault();
                  var room_name = e.target.href.substr(e.target.href.indexOf('#')+1);
                  join_new_room(room_name);
                  e.preventDefault();
               });
          };

          socket.on('new_chat_room', function(msg) {
              var menu_element = $('#rooms_menu');
              var room_name = msg['room_name'];
              menu_element.append(
                  '<li><a href=\"#' + room_name +
                  '\" data-toggle="tab" class="room_menu_item">' + room_name + '</a></li>');
              bind_room_menu_clicks();

          });

          ////////// outgoing messages
      nameChangeHandler = function(val) {
          socket.emit('trd_name_change_event', {client_id: my_id, name: val});
      }

         // emit handler(s)
         $('form#broadcast').submit(function(event) {
             var activeRoom = getActiveRoomName();
             socket.emit('trd_broadcast_event',
                 {msg: $('#broadcast_data').val(),
                  sender: $('#name_field').val(),
                  timestamp: new Date().toString(),
                  room: activeRoom,
                  client_id: my_id});
             $('#broadcast_data').val('');
             return false;
          });

          $('form#add_chat_room').submit(function(event) {
              var room_name = $('#new_chat_room_name').val().replace(/\W/g, '_');
              socket.emit('trd_new_chat_room',
              {room_name: room_name});

              $('#new_chat_room_name').val('');
              $('#broadcast_data').focus();
              join_new_room(room_name);
              return false;
          });


          join_new_room("main");
          bind_room_menu_clicks();
      });
      </script>
    <style>

      html
      {
        margin: 10px;
      }

      form
      {
        padding: 5px;
      }

      span.name
      {
        color: cadetblue;
      }

      span.timestamp
      {
        font-size: 70%;
        color: #777;
      }

      .flex_parent
      {
        display: flex !important;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
      }

      div.vertical_scroller
      {
        overflow-y: scroll;
        overflow-x: auto;
        border-color: lightblue;
        border-width: 2px;
        border-style: groove;
        border-radius: 20px;
        background: #eee;
        padding: 22px;
        height: 420px;
      }

      #ui_container
      {
        width: 70%;
      }

      #user_list_container
      {
        margin: 10px;
      }

      #user_list
      {

      }

      @keyframes unread_animation
      {
        0%   {background-color: #fff;}
        50%  {background-color: #eef;}
        100% {background-color: #fff;}
      }

      a.unread_messages
      {
        animation-name: unread_animation;
        animation-duration: 4s;
        animation-iteration-count: infinite;
      }

      .room_top_label
      {
        text-align: center;
        font-size: 130%;
        color: #666;
      }

      button.closeTab
      {
        font-size: 130%;
      }

      input#name_field
      {
        width: 150px;
      }

      input#broadcast_data
      {
        width: 90%;
      }

      .chat_window
      {
        display: block;
      }
    </style>
    </head>
<body>
<div class="upper_ui flex_parent">
    <form id="add_chat_room" method="POST" action="javascript:void(0)">
      Create Chat Room:
      <input type="text" name="new_chat_room_name" id="new_chat_room_name">
      <input type="submit" value="Create">
    </form>
    <br/>
    <form id="name" method="POST" action="javascript:void(0)">
      My Name is: <input type="text" name="name_field" id="name_field" value="{{ users['main'][client_id]['name'] }}" onchange="nameChangeHandler(this.value)">
    </form>
</div>
  <ul class="nav nav-tabs">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        Rooms &nbsp;
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu" role="menu" id="rooms_menu">
        {% for room in chat_rooms %}
          <li><a href="#{{room}}" class="room_menu_item" data-toggle="tab">{{room}}</a></li>
        {% endfor %}
      </ul>
    </li>
  </ul>


  <div id="chat_panes_container" class="tab-content">

  </div> <!-- / chat panes container -->


  <div class="talking_ui">
    <form id="broadcast" method="POST" action="javascript:void(0)">
      <input type="text" name="broadcast_data" id="broadcast_data">
      <input type="submit" value="Broadcast">
    </form>
</div>

</body>
</html>
